.pagina_conteudo {
    width: 100%;
    height: 100vh; /* Ocupa a tela inteira */
    background-image: url("../../assets/fundo02.png");
    background-color: blue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    padding: 50px;
}

.tabela {
    margin-top: 30px;
}

.tabela_corpo svg {
    color: #212529;
    margin-top: 5px;
    font-size: 25px;
}

.botao_editar svg:hover {
    color: #f08830;
}

.botao_deletar {
    border: none;
    background: none;
}

.botao_deletar svg:hover {
    color: #e4504b;
}

.pagina_cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Para alinhar verticalmente */

    /* Estilização do título */
    h1 {
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adiciona sombra */
    }

    /* Estilização do botão */
    .botao_novo {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #f08830;
    }
}
.filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 16px;
    align-items: center;
  }
  
  .input_pesquisa {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
  }
  
  .select_tipo {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 200px;
  }
  