.topbar_conteudo {
    background-color: #f1f1f1cc;

    position: fixed;
    z-index: 1000 !important;
    /* Garante que a Topbar esteja acima de outros elementos */
    top: 0;
    width: 100%;
    height: 5vh;

    display: flex;
    /* Alinha o conteúdo horizontalmente */
    align-items: center;
    /* Centraliza os itens verticalmente */
    justify-content: center;
    /* Alinha o conteúdo à direita */

    box-shadow: 0 0 50px rgba(0, 0, 0, 0.445);
}

.botao_deslogar {
    text-decoration: none;
    color: #070b3b;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: 250px;

    z-index: 1001 !important;
    /* Garante que o botão esteja acima da topbar */
}

@media (max-width: 700px) {
    .topbar_conteudo {
        width: calc(100% - 160px);
    }
}

@media (max-width: 500px) {
    .topbar_conteudo {
        width: 100%;
    }
}

.pagina_conteudo {
    margin-top: 0vh;
}



.topbar {
    position: fixed;
    /* Fixa a Topbar no topo */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    z-index: 1;
    /* Define um z-index menor que o Sidebar */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}